.body, p, span, div, input {
    font-family: Arial, Helvetica, sans-serif
}
.bigger {
    font-size: 25px;
}
.big {
    font-size: 20px;
}
.medium {
    font-size: 14px;
}
.medium-2 {
    font-size: 13px;
}
.small {
    font-size: 12px;
}
.x-small {
    font-size: 10px;
}
.bold {
    font-weight: 600;
}
