.body {
  box-sizing: border-box;
}
.no-margin {
  margin: 0px;
}
.no-margin-2 {
  margin: 2px 0px;
}
.no-margin-3 {
  margin: 6px 0px;
}
.hr {
  margin: 4px 0px;
  border-color: rgb(211, 219, 211);
}
.swiper {
  width: 100%;
  height: 90vh;
}
a {
  text-decoration: none;
}
.padding {
  padding: 16px;
}
.padding-spc {
  padding: 24px 54px 32px;
}
.search-input {
  background-color: transparent;
  border: none;
  color: rgb(71, 71, 71);
}
.search-input:focus {
  outline: none;
}
